* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background: #0a3d62;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: yellow;
}

.hero {
    height: 90vh;
    background: url("travel-bg.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero p {
    font-size: 20px;
    margin: 10px 0;
}

.apl {
    background: orange;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.apl:hover {
    background: red;
}

.destinations {
    padding: 50px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.vacation.card {
    background: #f4f4f4;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.vacation.card:hover {
    transform: scale(1.05);
}

.packages {
    background: #f9f9f9;
    padding: 50px;
    text-align: center;
}

.Packages-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.Vacation-card {
    background: white;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: 0.3s; 
}

.Vacation-card:hover {
     transform: translateY(-5px);   
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
}

.contact {
    padding: 50px;
    background: #eaf2f8;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.contact-info {
    text-align: left;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    padding: 10px;
    background: #0a3d62;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: orange;
}